---

#---------------------------------
# 1. Prepare System
#---------------------------------
- hosts:
    - all_nodes
  tasks:
    - include_role: name=system
      when: install_system
  handlers:
    - name: Reload limits
      command: sysctl -p
      ignore_errors: yes
#---------------------------------
# 2. Install JDK
#---------------------------------
- hosts:
    - all_nodes
  tasks:
    - include_role: name=jdk
      when: install_java_sdk


#---------------------------------
# 3. Install Dingo_store nodes
#---------------------------------
- hosts:
    - all_nodes
  tasks:
    - include_role: name=dingo_store
      when: install_dingo_store

#---------------------------------
# 3. Install Dingo nodes
#---------------------------------
- hosts:
    - executor_nodes
  tasks:
    - include_role: name=dingo
      when: install_dingo


#---------------------------------
# 4. Install prometheus and grafana
#---------------------------------
- hosts:
    - prometheus
  tasks:
    - include_role: name=prometheus
      when: install_prometheus

- hosts:
    - grafana
  tasks:
    - include_role: name=grafana
      when: install_grafana

- hosts:
    - all_nodes
  tasks:
    - include_role: name=node_exporter
      when: install_node_exporter

- hosts:
    - all_nodes
  tasks:
    - include_role: name=process_exporter
      when: install_process_exporter
