server:
    compression:
        enabled: true
        mime-types: text/html,text/xml,text/plain,text/css, application/javascript, application/json
        min-response-size: 1024
    host: {{ inventory_hostname }}
    port: {{ dingo_web_http_port }}
    coordinatorExchangeSvrList: {{ dingo_coordinator_exchange_tmp_list_string_1 }}
    prometheus: http://{{groups['prometheus'][0]}}:{{prometheus_port}}/prometheus/api/v1/query
    monitor:
      executor:
        heapAlarmThreshold: 80
      instance:
        exportPort: {{node_exporter_port}}
        cpuAlarmThreshold: 70
        memAlarmThreshold: 70
        diskAlarmThreshold: 90
