server:
    compression:
        enabled: true
        mime-types: text/html,text/xml,text/plain,text/css, application/javascript, application/json
        min-response-size: 1024
    host: {{ inventory_hostname }}
    port: {{ dingo_monitor_backend_port }}
    coordinatorExchangeSvrList: {{ dingo_coordinator_exchange_tmp_list_string_1 }}
    prometheus: http://{{groups['prometheus'][0]}}:{{prometheus_port}}/prometheus/api/v1/query
    monitor:
      executor:
        heapAlarmThreshold: 80
        logPath: {{ dingo_log_path }}/log/
      instance:
        exportPort: {{node_exporter_port}}
        cpuAlarmThreshold: 70
        memAlarmThreshold: 70
        diskAlarmThreshold: 90

spring:
    datasource:
        url: jdbc:mysql://{{groups['executor'][0]}}:{{dingo_mysql_port}}/information_schema?useSSL=false&serverTimezone=UTC&useLegacyDatetimeCode=false&allowPublicKeyRetrieval=true
        username: root
        password: 123123
    jpa:
        database-platform: org.hibernate.dialect.MySQLDialect
        show-sql: true