cluster:
    name: dingo
exchange:
    host: {{ inventory_hostname }}
    port: {{ dingo_coordinator_exchange_port }}
server:
    dataPath: {{ dingo_coordinator_meta_path }}
    raft:
        port: {{ dingo_coordinator_raft_port }}
        initRaftSvrList: {{ dingo_coordinator_raft_connection_list }}
