cluster:
    name: dingo
exchange:
    host: {{ inventory_hostname }}
    port: {{ dingo_coordinator_exchange_port }}
server:
    dataPath: {{ dingo_coordinator_meta_path }}
    servers: {{ dingo_coordinator_exchange_connection_list }} 
    monitorPort: {{ dingo_coordinator_http_monitor_port }}
security:
    cipher:
        keyPath: {{ dingo_home }}/conf/dingodb.jks
        keyPass: dingodb
        storePass: dingodb
        alias: dingodb
        issuer: dingo
    verify: true
