cluster:
    name: dingo
exchange:
    host: {{ inventory_hostname }}
    port: {{ dingo_executor_exchange_port }}
server:
    coordinatorExchangeSvrList: {{ dingo_coordinator_exchange_connection_list }}
    dataPath: {{ dingo_executor_server_db_path }}
    monitorPort: {{ dingo_executor_http_monitor_port }}
store:
    dbPath: {{ dingo_executor_raft_db_path }}
    dbRocksOptionsFile: {{ dingo_home }}/conf/db_rocks.ini
    logRocksOptionsFile: {{ dingo_home }}/conf/log_rocks.ini
    raft:
       port: {{ dingo_executor_raft_port }}
       raftPath: {{ dingo_executor_raft_log_path }}
    collectStatsInterval: 120
