cluster:
    name: dingo
exchange:
    host: {{ inventory_hostname }}
    port: {{ dingo_executor_exchange_port }}
server:
    coordinators: {{ dingo_coordinator_exchange_connection_list }}
    user: user
    keyring: TO_BE_CONTINUED
    resourceTag: 1
    mysqlPort: {{ dingo_mysql_port }}
variable:
    autoIncrementCacheCount: 100
    autoIncrementIncrement: 1
    autoIncrementOffset: 1
security:
    cipher:
        keyPath: {{ dingo_home }}/conf/dingodb.jks
        keyPass: dingodb
        storePass: dingodb
        alias: dingodb
        issuer: dingo