cluster:
    name: dingo
executor:
    ip: {{ inventory_hostname }}
    exchange:
        port: {{ dingo_executor_exchange_port }}
    raft:
        port: {{ dingo_executor_raft_port }}
        initExecSrvList: {{ dingo_executor_raft_connection_list }} 
    options:
        coordOptions:
            group: COORDINATOR_RAFT
            initCoordRaftList: {{ dingo_coordinator_raft_connection_list }}
            initCoordSrvList: {{ dingo_coordinator_exchange_connection_list }}
        storeEngineOptions:
            kvRpcCoreThreads: 8
            storeDBOptions:
                dataPath: {{ dingo_executor_database_path }}
                asyncSnapshot: true
            raftStoreOptions:
                dataPath: {{ dingo_executor_raft_path }}
                raftLogStorageOptions:
                    dbKeepLogFileNum: 8
                    dbMaxTotalWalSize: 2147483648
                    dbMaxBackGroupCompactions: 16
                    dbMaxBackGroupFlushes: 8
                    dbRecycleLogFileNum: 8
                    dbMaxBackGroupJobs: 16
            leastKeysOnSplit: 100000
            snapshotCoreThreads: 10
            commonNodeOptions:
                electionTimeoutMs: 10000
                snapshotIntervalSecs: 1800
                snapshotLogIndexMargin: 10000
        cliOptions:
            timeoutMs: 10000
            maxRetry: 3
            rpcProcessorThreadPoolSize: 4
