---

# define the root path of install
installer_root_path: /home/dingo
installer_cache_path: /tmp
delete_cache_after_install: false

# define the global log and data directory
dingo_log_dir: "{{ installer_root_path }}/log"
dingo_data_dir: "{{ installer_root_path }}/data"
dingo_run_dir: "{{ installer_root_path }}/run"

dingo_user: dingodb
dingo_group: dingodb
jdk_user: dingodb
jdk_group: dingodb

#-----------------------------------------------------
# 1. Update System Configuration about OS
#-----------------------------------------------------
install_system: true
install_system_basicTools: false
install_system_fileLimits: true
set_core_file: false
core_file_dir: /home/corefiles

#-----------------------------------------------------
# 2. Install Java SDK
#-----------------------------------------------------
install_java_sdk: true
jdk_install_path: /opt
jdk_home: "{{ jdk_install_path }}/jdk"

#-----------------------------------------------------
# 2_1. Check For Port Conflicts
#-----------------------------------------------------
check_port_conflicts: true


#-----------------------------------------------------
# 3. Install Dingo to Dingo home
#-----------------------------------------------------
install_dingo: true
install_dingo_basic_command: true
install_dingo_update_configuration: true
install_dingo_start_roles: true

#-----------------------------------------------------
# 4.Install Dingo-store to Dingo home
#-----------------------------------------------------
install_dingo_store: true
install_dingo_store_basic_command: true
install_dingo_store_update_configuration: true
install_dingo_store_start_roles: true
open_dingo_store_logrotate: false


#-----------------------------------------------------
# 5. Install Prometheus to Dingo directory
#-----------------------------------------------------
install_prometheus: true
blackbox_exporter_port: 19115
blackbox_exporter_server: "{{ prometheus_server }}"

# Node Exporter
install_node_exporter: true
node_exporter_port: 19100
node_exporter_servers: "{{ groups['node_exporter'] }}"

# Process Exporter
install_process_exporter: true
process_exporter_port: 19256
process_exporter_servers: "{{ groups['process_exporter'] }}"

# Prometheus
prometheus_port: 19090
prometheus_server: "{{ groups['prometheus'][0] }}"
prometheus_url: "http://{{ prometheus_server }}:{{ prometheus_port }}/prometheus"

# Pushgateway
pushgateway_port: 19091
pushgateway_server: "{{ prometheus_server }}"

# Grafana
install_grafana: true
grafana_port: 3000
grafana_server: "{{ groups['grafana'][0] }}"
default_dashboard_uid: "RNezu0fWk"

dingo_tmp_coordinator_list: "{{ groups['coordinator'] }}"
dingo_tmp_store_list: "{{ groups['store'] }}"
dingo_tmp_executor_list: "{{ groups['executor'] | default(\"\") }}"

# dingo-store port
dingo_store_coordinator_exchange_port: 22001
dingo_store_coordinator_raft_port: 22101
dingo_store_exchange_port: 20001
dingo_store_raft_port: 20101
dingo_store_index_exchange_port: 21001
dingo_store_index_raft_port: 21101


# executer port
dingo_coordinator_exchange_port: "{{ dingo_store_coordinator_exchange_port }}"
dingo_executor_exchange_port: 8765
dingo_mysql_port: 3307

# proxy port
dingo_proxy_http_port: 13000
dingo_proxy_grpc_port: 9999

# define dingo coordinator http monitor port: 172.20.3.18:8080,172.20.3.19:8080,172.20.3.20:8080
dingo_coordinator_http_monitor_port: "{{ dingo_store_coordinator_exchange_port }}"
dingo_store_http_monitor_port: "{{ dingo_store_exchange_port }}"
dingo_index_http_monitor_port: "{{ dingo_store_index_exchange_port }}"
dingo_executor_http_monitor_port: 9201

# ['172.20.31.10:9201','172.20.31.11:9201','172.20.31.12:9201']
dingo_coordinator_http_tmp_list: "{% for item in dingo_tmp_coordinator_list %} '{{item}}:{{ dingo_coordinator_http_monitor_port }}' {% endfor %}"
dingo_coordinator_http_monitor_list: "[ {{ dingo_coordinator_http_tmp_list.split() | join(\",\") | default(\"\") }} ]"

dingo_coordinator_exchange_tmp_list: "{% for item in dingo_tmp_coordinator_list %} '{{item}}:{{ dingo_store_coordinator_exchange_port }}' {% endfor %}"
dingo_coordinator_exchange_tmp_list_string: " {{ dingo_coordinator_exchange_tmp_list.split() | join(\",\") | default(\"\") }} "

dingo_store_http_tmp_list: "{% for item in dingo_tmp_store_list %} '{{item}}:{{ dingo_store_http_monitor_port }}' {% endfor %}"
dingo_store_http_monitor_list: "[ {{ dingo_store_http_tmp_list.split() | join(\",\") | default(\"\") }} ]"

dingo_executor_http_tmp_list: "{% for item in dingo_tmp_executor_list %} '{{item}}:{{ dingo_executor_http_monitor_port }}' {% endfor %}"
dingo_executor_http_monitor_list: "[ {{ dingo_executor_http_tmp_list.split() | join(\",\") | default(\"\") }} ]"
