
- name: Ensure transparent_hugepage
  shell: |
    echo "madvise" > /sys/kernel/mm/transparent_hugepage/enabled
  become: yes

- name: Set vm.overcommit_memory value to 1
  sysctl:
    name: vm.overcommit_memory
    value: "1"
    state: present
    reload: yes
  become: yes

- name: Set suid_dumpable value to 2
  sysctl:
    name: fs.suid_dumpable
    value: 2
    state: present
    reload: yes

- name: Set aio-max-nr value 
  sysctl:
    name: fs.aio-max-nr
    value: "{{ fs_aio_max_nr }}"
    state: present
    reload: yes

- name: Set vm max_map_count value 
  sysctl:
    name: vm.max_map_count
    value: "{{ max_map_count }}"
    state: present
    reload: yes

- name: Set large page nr_hugepages
  sysctl:
    name: vm.nr_hugepages
    value: "{{ nr_hugepages }}"
    state: present
    reload: yes
  