#{{ ansible_managed }}
{% if fileName == 'default' %}
map $http_upgrade $connection_upgrade {
        default upgrade;
        '' close;
}
{% endif %}
server {
{% for v in item.value %}
{% if v.find('\n') != -1 %}
   {{v.replace("\n","\n   ")}}
{% else %}
   {% if v != "" %}{{ v.replace(";",";\n      ").replace(" {"," {\n      ").replace(" }"," \n   }\n") }}{% if v.find('{') == -1%};
{% endif %}{% endif %}{% endif %}
{% endfor %}
}
