[Unit]
Description=nginx - high performance web server
Documentation=http://nginx.org/en/docs/
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
User={{ nginx_user }}
Group={{ nginx_group }}
PermissionsStartOnly=true
ExecStartPre=/bin/chown -R {{ nginx_user }}:{{ nginx_group }} {{ nginx_home }}
ExecStartPre=/bin/chown -R {{ nginx_user }}:{{ nginx_group }} {{nginx_log_path}}
ExecStart=/bin/sh -c 'exec {{ nginx_home }}/start.sh'
ExecReload=/bin/sh -c 'exec {{ nginx_home }}/reload.sh'
ExecStop=/bin/sh -c 'exec {{ nginx_home }}/stop.sh'
Restart=always

[Install]
WantedBy=multi-user.target
