# {{ ansible_managed }}

[Unit]
Description=Grafana instance
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile={{ grafana_home }}/grafana-env
User={{ grafana_user }}
Group={{ grafana_group }}
Type=notify
Restart=on-failure
WorkingDirectory={{ grafana_home }}
RuntimeDirectory=grafana
RuntimeDirectoryMode=0750
ExecStart=/bin/sh -c 'exec {{ grafana_home }}/bin/grafana-server                                     \
                            --config=${CONF_FILE}                                   \
                            --pidfile=${PID_FILE_DIR}/grafana-server.pid            \
                            cfg:default.paths.logs=${LOG_DIR}                       \
                            cfg:default.paths.data=${DATA_DIR}                      \
                            cfg:default.paths.plugins=${PLUGINS_DIR}                \
                            cfg:default.paths.provisioning=${PROVISIONING_CFG_DIR} >{{ grafana_log_path }}/{{ grafana_service_name }}.out 2>&1 '

LimitNOFILE=10000
TimeoutStopSec=20
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
