GRAFANA_USER={{ grafana_user }}

GRAFANA_GROUP={{ grafana_group }}

GRAFANA_HOME={{ grafana_home }}

LOG_DIR={{ grafana_log_path }}

DATA_DIR={{ grafana_data_path }}

MAX_OPEN_FILES=10000

CONF_DIR={{ grafana_conf_path }}

CONF_FILE={{ grafana_conf_path }}/grafana.ini

RESTART_ON_UPGRADE=true

PLUGINS_DIR={{ grafana_plugin_path }}

PROVISIONING_CFG_DIR={{ grafana_conf_path }}/provisioning

# Only used on systemd systems
PID_FILE_DIR={{ grafana_run_path }}
