# {{ ansible_managed }}

[Unit]
Description=Grafana instance
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target

[Service]
User={{ grafana_user }}
Group={{ grafana_group }}
Type=notify
Restart=on-failure
WorkingDirectory={{ grafana_home }}
RuntimeDirectory=grafana
RuntimeDirectoryMode=0750
ExecStart=/bin/sh -c 'exec {{ grafana_home }}/bin/grafana-server                                     \
                            --config={{ grafana_conf_path }}/grafana.ini                                   \
                            --pidfile={{ grafana_run_path }}/grafana-server.pid            \
                            cfg:default.paths.logs={{ grafana_log_path }}                       \
                            cfg:default.paths.data={{ grafana_data_path }}                      \
                            cfg:default.paths.plugins={{ grafana_plugin_path }}                \
                            cfg:default.paths.provisioning={{ grafana_conf_path }}/provisioning >{{ grafana_log_path }}/{{ grafana_service_name }}.out 2>&1 '

LimitNOFILE=10000
TimeoutStopSec=20
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
