---

grafana_service_name: "dingo-grafana"

grafana_home: "{{ installer_root_path | default('/opt') }}/grafana"
grafana_user: "{{ dingo_user | default('grafana') }}"
grafana_group: "{{ dingo_group | default('grafana') }}"

grafana_log_path: "{{ dingo_log_dir | default('/var/log') }}/grafana"
grafana_data_path: "{{ dingo_data_dir | default('/var/lib') }}/grafana"
grafana_run_path: "{{ dingo_run_dir | default('/var/run') }}/grafana"

grafana_conf_path: "{{ grafana_home }}/conf"
grafana_plugin_path: "{{ grafana_data_path }}/plugins"

grafana_port: 3000

default_datasource_name: "Prometheus"
grafana_admin_user: "admin"
grafana_admin_password: "admin"
default_dashboard_title: "Dingo"
default_dashboard_uid: "RNezu0fWk"
default_dashboard_template: "dingo.json.j2"
process_dashboard_title: "DingoProcess"
process_dashboard_uid: "PCJkOyLVk"
process_dashboard_template: "system-processes-metrics.json.j2"
dingo_store_dashboard_title: "DingoMerics"
dingo_store_dashboard_uid: "xYgURYs4z"
dingo_store_dashboard_template: "dingo_metrics.json.j2"
iostat_dashboard_title: "DingoIostat"
iostat_dashboard_uid: "9l09q0qik"
iostat_dashboard_template: "node_iostat.json.j2"
sql_dashboard_template: "sqlmetric.json.j2"
sql_dashboard_title: "sql_metrics"
sql_dashboard_uid: "Bm4sOIfSz"