dn: uid=dingo,ou=People,dc=localdomain,dc=com
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: dingo 
sn: db
givenName: dingo
cn: dingo db
displayName: dingo db
uidNumber: 10001
gidNumber: 5000
userPassword: {{ root_password.stdout }}
gecos: dingo db
loginShell: /bin/bash
homeDirectory: /home/dingo
