#!/bin/bash

export TIMEOUT_SECONDS=1

printf "\U1F4DD Test port on ${LOCAL_HOST_NAME}:\n"
{% for var_name,var_value in vars.items() %}
{% if  var_name.endswith('_port') %}
    timeout $TIMEOUT_SECONDS bash -c "echo 'What is up by howhow ...' >/dev/tcp/127.0.0.1/{{ var_value }}" 2>/dev/null && \
    printf " \U1F4DB Ports Conflicts at {{ var_value }}" || printf " \U1F44D Ports OK at {{ var_value }}"
    echo
{% endif%}
{% endfor %}

exit 0