---

- name: "Ensure dingo user group exist: {{ dingo_group }}"
  group: name={{ dingo_group }} state=present

- name: "Ensure dingo user exist {{ dingo_user }}"
  user: name={{ dingo_user }} group={{ dingo_group }}

- name: "Kill old process of DingoDB"
  shell: pgrep -fu {{ dingo_user }}  "dingodb_server -role" | xargs -r kill -9


- name: "Remove dingo home/log/data directories if exist"
  file: path="{{ item }}" state=absent
  with_items: 
    - "{{ dingo_store_home }}"
    - "{{ dingo_store_log_path }}"
    - "{{ dingo_store_data_path }}"

- name: Print variable debug info 
  debug:
    msg: "{{ dingo_store_log_path }}, {{ dingo_store_home }}, {{ dingo_store_data_path }}, {{ dingo_store_coordinator_meta_path }}" 


- name: "Ensure installer cache Directory {{ installer_cache_path }}"
  file: path={{ installer_cache_path }} state=directory

- name: "Create dingo directories"
  file: path="{{item}}" state=directory owner={{ dingo_user }} group={{ dingo_group }}
  with_items:
    - "{{ dingo_store_home }}"
    - "{{ dingo_store_log_path }}"
    - "{{ dingo_store_data_path }}"
    - "{{ dingo_store_coordinator_meta_path }}"


- name: "Copy dingo zip archive to remote host"
  copy: src={{ item }}  dest={{ installer_cache_path }} owner={{ dingo_user }} group={{ dingo_group }}
  with_items:
    - "{{ cfg_dingodb_store_local_path }}"

- name: "Unarchive {{ cfg_dingodb_store_local_path }} to {{ dingo_store_home }}"
  unarchive:
    src: "{{ installer_cache_path }}/{{ cfg_dingodb_store_local_path|basename}}"
    dest: "{{ dingo_store_home }}"
    mode: "go-w"
    remote_src: yes
    list_files: yes
    owner: "{{ dingo_user }}"
    group: "{{ dingo_group }}"
  register: archive_contents

- name: "Delete temporary tarball file: {{ installer_cache_path }}/{{ cfg_dingodb_store_local_path|basename}}"
  file: path={{ installer_cache_path }}/{{ cfg_dingodb_store_local_path|basename }} state=absent
  when: delete_cache_after_install

- name: Change owner of all files in directory
  file:
    path: "{{ dingo_store_home }}"
    owner: "{{ dingo_user }}"
    group: "{{ dingo_group }}"
    recurse: yes

