---

#---------------------------------
# 3. Install Dingo_store nodes
#---------------------------------
- hosts:
    - all_nodes
  vars_files:
    - ../group_vars/all/_shared.yml 
  tasks:
    - include_role: name=dingo_store
      when: install_dingo_store
