#!/bin/bash
source ~/.bash_profile
BASE_DIR=$(dirname $(cd $(dirname $0); pwd))

cd $BASE_DIR/build/bin/ || exit 1
DINGODB_HAVE_STORE_AVAILABLE=0
DINGODB_MYSQL_INIT=0

while [ "${DINGODB_HAVE_STORE_AVAILABLE}" -eq 0 ]; do
    echo "DINGODB_HAVE_STORE_AVAILABLE = 0, wait 1 second"
    sleep 1
    DINGODB_HAVE_STORE_AVAILABLE=$(./dingodb_client --method=GetStoreMap 2>&1 |grep -c DINGODB_HAVE_STORE_AVAILABLE)
done

echo "DINGODB_HAVE_STORE_AVAILABLE = 1, start to initialize MySQL"

DINGODB_MYSQL_INIT=$(./dingodb_client --method=GetSchemaByName --name=mysql 2>&1  |grep -c table_ids)

if [ "${DINGODB_MYSQL_INIT}" -ne 0 ]; then
    echo "mysql table_ids exists exit"
    exit 1
fi
cd - || exit 1

# run Java start mysql_init
JAR_PATH=$(find ${BASE_DIR}/libs -name dingo-mysql-init-*.jar)
{{ jdk_home }}/bin/java -cp ${JAR_PATH} io.dingodb.mysql.MysqlInit {{ dingo_coordinator_exchange_tmp_list_string }} > mysql_init.log

# check status
if [ $? -eq 0 ]
then
  echo "Java mysql init succes"
else
  echo "Java mysql init fail"
  exit 1
fi
