[
    {
                "targets": ["172.20.3.20:9088"]
            
    },{
                "targets": ["172.20.3.21:9088"]
            
    },{
                "targets": ["172.20.3.22:9088"]
            
    },{
                "targets": ["172.20.3.20:9089"]
            
    },{
                "targets": ["172.20.3.21:9089"]
            
    },{
                "targets": ["172.20.3.22:9089"]
            
    }
]

