#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# http://prometheus.io/docs/operating/configuration/

global:
  evaluation_interval: 15s
  scrape_interval: 15s
  scrape_timeout: 10s

rule_files:
  - {{ prometheus_home }}/rules/*.yml

scrape_configs:
  - job_name: "prometheus"
    metrics_path: "/prometheus/metrics"
    static_configs:
    - targets:
      - "localhost:{{ prometheus_port }}"

  - job_name: "node"
    file_sd_configs:
    - files:
      - "{{ prometheus_home }}/file_sd/node*.yml"
      
  - job_name: "process"
    file_sd_configs:
    - files:
      - "{{ prometheus_home }}/file_sd/process*.yml"

  - job_name: "coordinator"
    metrics_path: '/NodeService/DingoMetrics'
    static_configs:
      - targets: {{ dingo_coordinator_http_monitor_list }}

  - job_name: "store"
    metrics_path: '/NodeService/DingoMetrics'
    static_configs:
      - targets: {{ dingo_store_http_monitor_list }}

  - job_name: "index"
    metrics_path: '/NodeService/DingoMetrics'
    static_configs:
      - targets: {{ dingo_index_http_monitor_list }}

  - job_name: "executor-exporter"
    metrics_path: '/metrics'
    static_configs:
      - targets: {{ dingo_executor_http_monitor_list }}

